<a href="https://colab.research.google.com/github/kerlyn-ong/coe-prices/blob/main/DataGovSG_COE_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Overview

This Jupyter notebook makes it easy to :

1. Get the dataset and column metadata programmatically
2. Load CSV files automatically into a pandas dataframe so you can do the fun explorations

# Setup
1. Paste the dataset ID you copied into the cell below
2. Run All Cells (click `Runtime` -> `Run All`)

In [1]:
DATASET_ID = "d_69b3380ad7e51aff3a7dcc84eba52b8a" # e.g. "d_69b3380ad7e51aff3a7dcc84eba52b8a"
API_KEY = "PASTE_API_KEY_HERE" #e.g. "v2:a7ae10..."

## Dataset and Column Metadata

In [2]:
import json
import requests

s = requests.Session()
s.headers.update({'referer': 'https://colab.research.google.com'})
if API_KEY and API_KEY != "PASTE_API_KEY_HERE":
    s.headers['x-api-key'] = API_KEY
s.headers.update(s.headers)
base_url = "https://api-production.data.gov.sg"
url = base_url + f"/v2/public/api/datasets/{DATASET_ID}/metadata"
print(url)
response = s.get(url)
data = response.json()['data']
columnMetadata = data.pop('columnMetadata', None)

print("Dataset Metadata:")
print(json.dumps(data, indent=2))

print("\nColumns:\n", list(columnMetadata['map'].values()))

https://api-production.data.gov.sg/v2/public/api/datasets/d_69b3380ad7e51aff3a7dcc84eba52b8a/metadata
Dataset Metadata:
{
  "datasetId": "d_69b3380ad7e51aff3a7dcc84eba52b8a",
  "createdAt": "2024-07-24T16:58:00+08:00",
  "name": "COE Bidding Results / Prices",
  "collectionIds": [],
  "description": "COE bidding and prices results for each bidding exercise.\nCategory A\n- For COEs obtained before the May 2022 1st COE bidding exercise: Car with engine capacity up to 1,600cc and Maximum Power Output up to 97kW (130bhp)\n- For COEs obtained from the May 2022 1st COE bidding exercise onwards:\n- Non-fully electric cars with engines up to 1,600cc and Maximum Power Output up to 97kW (130bhp); and fully electric cars with Maximum Power Output up to 110kW (147bhp)\nCategory B\n- For COEs obtained before the May 2022 1st COE bidding exercise:\n- Car with engine capacity above 1,600cc or Maximum Power Output above 97kW (130bhp)\n- For COEs obtained from the May 2022 1st COE bidding exercise onwards:\n- Non-fully electric cars with engines above 1,600cc or Maximum Power Output above 97kW (130bhp); and fully electric cars with Maximum Power Output above 110kW (147bhp)\n\nCategory C*\n- Goods vehicle and bus\n\\n\n\nCategory D\n- Motorcycle\n\n\nCategory E*\n- Open \u2013 all except motorcycle\n\n\n*You can only transfer COEs in Categories C and E once if you bid for them as an individual. If your bid is under a company, business or organisation, the COEs cannot be transferred. COEs in Categories A, B and D cannot be transferred.\n\n\nFor more information: https://onemotoring.lta.gov.sg/content/onemotoring/home/buying/upfront-vehicle-costs/certificate-of-entitlement--coe-.html#:~:text=All%20vehicles%20in%20Singapore%20require,the%20road%20for%2010%20years.",
  "format": "CSV",
  "lastUpdatedAt": "2026-01-30T11:36:02+08:00",
  "managedBy": "Land Transport Authority",
  "coverageStart": "2010-01-01T08:00:00+08:00",
  "coverageEnd": "2026-01-01T08:00:00+08:00",
  "contactEmails": [
    "feedback@data.gov.sg"
  ],
  "datasetSize": 77283
}

Columns:
 ['month', 'bidding_no', 'vehicle_class', 'quota', 'bids_success', 'bids_received', 'premium']

## Download File

In [3]:
import time
import pandas as pd

def download_file(DATASET_ID, API_KEY=None):

  headers = {"Content-Type": "application/json"}
  if API_KEY:
      headers["x-api-key"] = API_KEY
  # initiate download
  initiate_download_response = s.get(
      f"https://api-open.data.gov.sg/v1/public/api/datasets/{DATASET_ID}/initiate-download",
      headers=headers,
      json={}
  )
  print(initiate_download_response.json()['data']['message'])

  # poll download
  MAX_POLLS = 5
  for i in range(MAX_POLLS):
    poll_download_response = s.get(
        f"https://api-open.data.gov.sg/v1/public/api/datasets/{DATASET_ID}/poll-download",
        headers=headers,
        json={}
    )
    print("Poll download response:", poll_download_response.json())
    if "url" in poll_download_response.json()['data']:
      print(poll_download_response.json()['data']['url'])
      DOWNLOAD_URL = poll_download_response.json()['data']['url']
      df = pd.read_csv(DOWNLOAD_URL)

      display(df.head())
      print("\nDataframe loaded!")
      return df
    if i == MAX_POLLS - 1:
      print(f"{i+1}/{MAX_POLLS}: No result found, possible error with dataset, please try again or let us know at https://go.gov.sg/datagov-supportform\n")
    else:
      print(f"{i+1}/{MAX_POLLS}: No result yet, continuing to poll\n")
    time.sleep(3)

df = download_file(DATASET_ID)

Download successfully initiated. Proceed to poll download
Poll download response: {'code': 0, 'data': {'status': 'DOWNLOAD_SUCCESS', 'url': 'https://s3.ap-southeast-1.amazonaws.com/table-downloads-ingest.data.gov.sg/d_69b3380ad7e51aff3a7dcc84eba52b8a/bc089cff69444272a8741daec72d4a267ad4d483b2c554fd0e17c39f5c52a762.csv?AWSAccessKeyId=ASIAU7LWPY2WEQIAYHVO&Expires=1772120654&Signature=bohoxQFedFzNkl2AocaVzT7%2Bc%2Fc%3D&X-Amzn-Trace-Id=Root%3D1-69a05c3e-319e7d1855577996446fb0a2%3BParent%3Daa73ce86d9f70a14%3BSampled%3D0%3BLineage%3D1%3Affb76583%3A0&response-content-disposition=attachment%3B%20filename%3D%22COEBiddingResultsPrices.csv%22&x-amz-security-token=IQoJb3JpZ2luX2VjEF4aDmFwLXNvdXRoZWFzdC0xIkgwRgIhAJD1pmiOmnpW76s3UYzO7rMKyOKB2BwOqo2GH2XJx8IUAiEAoKVjRK3KVGqSTi0ajUeTkkCYLKK51G0GxqqOeUMwrgQqqgMIJxAEGgwzNDIyMzUyNjg3ODAiDKqTBpWpoE0uhbI7lyqHA166gCXUrB6ZkSEzojQT85vVT2ZEOTqoQH%2BkFwVqktH%2F0i5E7R4e4XiPhPmTJBcE5oGpuudPdRHLXjZhzGilS%2F8AB8kQ4MoNMIxObK6VwVfDzT%2FDGldhvmCiDs5F6G51AT5PiIUPjgXkkBy2cEezRPoffFN3mON1FAThKT5RY341uyLtTOSf1AU4jbBPlXXc6gen9Ahic34bcW6t0ZV5VqK1nN0X2Kh1L79QWBFaRIBc%2FgclSMqGl8VjE0rQfJf0cB7FA1tVcoefHTKdw1HvRJSd7UY9Ywly%2FKwIcwUf0vVoo%2FpE1pydzcA3Fhb87KLEz4lwG%2BZY9edLq0diaowY1PRxGinEQwQ%2BFu%2FHT4KmtKyNnedc68yxUPeRUT4zRb0k6XnV04dl061M%2FH38OA2%2BbpdAXeWAE3BpGDPvDEzHjEbkiLS%2BoRPmhirlHYBBKaE51gE%2BPbX89O%2B9tc0yvEuKoX9XKirVM668mjkX5%2Ft0RQo7HF8oHLI5vfmpc9BAEZmbN7%2BCcLpOA40wrqqBzQY6nAGw4AN8DcJegMWloEUlwXNYWPpo7%2Fk8dStbv27V5XNBdGk7ByNSvI6Y37HsF9VepLEyB10M4MxSXzb08R%2FKFIvCy7QR%2BSLlboW3FKasgx7x612f%2BHiISC%2FuLV%2Fwqfw2uvnDDjJPtcvGYdPA0OjIuspSW%2B6l6JLgNjvX96FWaiFFF5RlEcWSEP08kq3X0dzw4%2F1Wec0h08Z3UDXHL7M%3D'}, 'errorMsg': ''}
https://s3.ap-southeast-1.amazonaws.com/table-downloads-ingest.data.gov.sg/d_69b3380ad7e51aff3a7dcc84eba52b8a/bc089cff69444272a8741daec72d4a267ad4d483b2c554fd0e17c39f5c52a762.csv?AWSAccessKeyId=ASIAU7LWPY2WEQIAYHVO&Expires=1772120654&Signature=bohoxQFedFzNkl2AocaVzT7%2Bc%2Fc%3D&X-Amzn-Trace-Id=Root%3D1-69a05c3e-319e7d1855577996446fb0a2%3BParent%3Daa73ce86d9f70a14%3BSampled%3D0%3BLineage%3D1%3Affb76583%3A0&response-content-disposition=attachment%3B%20filename%3D%22COEBiddingResultsPrices.csv%22&x-amz-security-token=IQoJb3JpZ2luX2VjEF4aDmFwLXNvdXRoZWFzdC0xIkgwRgIhAJD1pmiOmnpW76s3UYzO7rMKyOKB2BwOqo2GH2XJx8IUAiEAoKVjRK3KVGqSTi0ajUeTkkCYLKK51G0GxqqOeUMwrgQqqgMIJxAEGgwzNDIyMzUyNjg3ODAiDKqTBpWpoE0uhbI7lyqHA166gCXUrB6ZkSEzojQT85vVT2ZEOTqoQH%2BkFwVqktH%2F0i5E7R4e4XiPhPmTJBcE5oGpuudPdRHLXjZhzGilS%2F8AB8kQ4MoNMIxObK6VwVfDzT%2FDGldhvmCiDs5F6G51AT5PiIUPjgXkkBy2cEezRPoffFN3mON1FAThKT5RY341uyLtTOSf1AU4jbBPlXXc6gen9Ahic34bcW6t0ZV5VqK1nN0X2Kh1L79QWBFaRIBc%2FgclSMqGl8VjE0rQfJf0cB7FA1tVcoefHTKdw1HvRJSd7UY9Ywly%2FKwIcwUf0vVoo%2FpE1pydzcA3Fhb87KLEz4lwG%2BZY9edLq0diaowY1PRxGinEQwQ%2BFu%2FHT4KmtKyNnedc68yxUPeRUT4zRb0k6XnV04dl061M%2FH38OA2%2BbpdAXeWAE3BpGDPvDEzHjEbkiLS%2BoRPmhirlHYBBKaE51gE%2BPbX89O%2B9tc0yvEuKoX9XKirVM668mjkX5%2Ft0RQo7HF8oHLI5vfmpc9BAEZmbN7%2BCcLpOA40wrqqBzQY6nAGw4AN8DcJegMWloEUlwXNYWPpo7%2Fk8dStbv27V5XNBdGk7ByNSvI6Y37HsF9VepLEyB10M4MxSXzb08R%2FKFIvCy7QR%2BSLlboW3FKasgx7x612f%2BHiISC%2FuLV%2Fwqfw2uvnDDjJPtcvGYdPA0OjIuspSW%2B6l6JLgNjvX96FWaiFFF5RlEcWSEP08kq3X0dzw4%2F1Wec0h08Z3UDXHL7M%3D

,month,bidding_no,vehicle_class,quota,bids_success,bids_received,premium
0,2010-01,1,Category A,1152,1145,1342,18502
1,2010-01,1,Category B,687,679,883,19190
2,2010-01,1,Category C,173,173,265,19001
3,2010-01,1,Category D,373,365,509,889
4,2010-01,1,Category E,586,567,1011,19889

Dataframe loaded!

## Data Clean here

In [ ]:
df.describe()

        bidding_no        quota        premium
count  1835.000000  1835.000000    1835.000000
mean      1.498638   565.764578   50516.278474
std       0.500134   420.596173   32259.684933
min       1.000000    43.000000     852.000000
25%       1.000000   292.000000   29085.000000
50%       1.000000   434.000000   49012.000000
75%       2.000000   659.500000   72051.500000
max       2.000000  2272.000000  158004.000000

In [11]:
from google.colab import userdata
import os
import shutil # Import shutil for removing directories

# Retrieve your secret safely
github_token = userdata.get('github_token')

# --- Configuration --- #
GITHUB_USERNAME = "kerlyn-ong" # Your GitHub username
GITHUB_REPO_NAME = "coe-prices" # Your repository name
GITHUB_EMAIL = userdata.get('github_email') # Your GitHub email
GITHUB_NAME = "kerlynong" # Your GitHub name
CSV_FILE_NAME = "coe_prices_dataset.csv" # Name for the saved CSV file
# --- End Configuration --- #

REPO_PATH = f"/content/{GITHUB_REPO_NAME}"
DATA_PATH = f"{REPO_PATH}/data"

# Ensure we are in the /content directory
%cd /content/

# Check if the repository already exists locally
if os.path.exists(REPO_PATH) and os.path.exists(os.path.join(REPO_PATH, '.git')):
    print(f"Repository '{GITHUB_REPO_NAME}' already exists. Pulling latest changes...")
    %cd {REPO_PATH}
    !git pull https://{github_token}@github.com/{GITHUB_USERNAME}/{GITHUB_REPO_NAME}.git
    %cd /content/
else:
    # If it exists but is not a git repo, clean it up for a fresh clone
    if os.path.exists(REPO_PATH):
        print(f"Found existing non-git directory at {REPO_PATH}. Removing for fresh clone.")
        shutil.rmtree(REPO_PATH)

    # Clone the repository
    print(f"Attempting to clone https://github.com/{GITHUB_USERNAME}/{GITHUB_REPO_NAME}.git")
    clone_result = !git clone https://{github_token}@github.com/{GITHUB_USERNAME}/{GITHUB_REPO_NAME}.git 2>&1

    # Check if cloning was successful and created a valid Git repository
    if not os.path.exists(os.path.join(REPO_PATH, '.git')):
        print("\n--- GitHub Clone Failed or Invalid Repository ---")
        print("Please check the following:")
        print(f"1. Does the repository 'https://github.com/{GITHUB_USERNAME}/{GITHUB_REPO_NAME}.git' actually exist and is spelled correctly?")
        print(f"2. Is your 'github_token' correct, and does it have 'repo' scope permissions (especially if the repo is private)?")
        print("Git output during clone attempt:")
        for line in clone_result:
            print(line)
        raise SystemExit("Cloning repository failed or did not create a valid .git directory. Please fix the issue and re-run.")
    else:
        print(f"Repository '{GITHUB_REPO_NAME}' cloned successfully to {REPO_PATH}/")

# Create data directory if it doesn't exist within the cloned repo
if not os.path.exists(DATA_PATH):
    os.makedirs(DATA_PATH)

# Save the DataFrame to CSV
# Ensure 'df' is available from previous cells. If not, you'll need to re-run preceding cells.
df.to_csv(f'{DATA_PATH}/{CSV_FILE_NAME}', index=False)
print(f"DataFrame saved to {DATA_PATH}/{CSV_FILE_NAME}")

# Change directory into your repository for Git operations
%cd {REPO_PATH}

# Configure your Git identity (only needs to be done once per session)
# These are often global, but setting them here ensures they are set for this session
!git config user.email "{GITHUB_EMAIL}"
!git config user.name "{GITHUB_NAME}"

# Add, Commit, and Push the CSV file
!git add {DATA_PATH}/{CSV_FILE_NAME}
!git commit -m "Automated update of {CSV_FILE_NAME}"
!git push https://{github_token}@github.com/{GITHUB_USERNAME}/{GITHUB_REPO_NAME}.git

print("Changes pushed to GitHub!")

/content
Repository 'coe-prices' already exists. Pulling latest changes...
/content/coe-prices
From https://github.com/kerlyn-ong/coe-prices
 * branch            HEAD       -> FETCH_HEAD
Already up to date.
/content
DataFrame saved to /content/coe-prices/data/coe_prices_dataset.csv
/content/coe-prices
On branch main
Your branch is ahead of 'origin/main' by 1 commit.
  (use "git push" to publish your local commits)

nothing to commit, working tree clean
Everything up-to-date
Changes pushed to GitHub!